.textarea-field-text-wrapper {
  textarea {
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 4px;
    width: 100%;
    font-size: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;

    &:focus {
      border: 1px solid cornflowerblue;
      outline: none;
    }
  }
}