@import "../../variables";

.user-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  .user-avatar {
    background: no-repeat center center;
    background-size: contain;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .user-name {
    margin-left: 9px;
  }
  .user-projects {
    font-size: $font-small-text;
    color: $secondary-text-color;
    white-space: pre-wrap;
  }
}