#registration {
  .title{
    font-size: 48px;
    text-align: center;
    margin-bottom: 48px;
  }
  .title-icon{
    margin: 24px;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 35%;
    padding-right: 35%;
    margin: auto;
  }
  .input-field-text-wrapper {
    margin-bottom: 25px;
    input{
      box-sizing: border-box;
    }
  }
  .signup-button{
    width: 100%;
    margin-top: 21px;
    border: 1px solid #24DB71;
  }
}
