$font-stack: Roboto, sans-serif;
$font-small-text: 14px;
$font-normal-text: 16px;
$font-large-text: 18px;

$primary-text-color: #000;
$secondary-text-color: #BDBDBD;
$secondary-accent-text-color: #828282;

$border-color: #E0E0E0;
$border-radius: 6px;